.users {
    padding: 50px;
}

.item {
    display: grid;
    grid-template-columns: 2fr 8fr;
}

.item img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
}

.right {
    display: grid;
    grid-template-columns: 6fr 4fr;
}
.butt {
    display: grid;

}

.butt button {
    margin-left: 30px;
    width: 100px;
    background: #2b2b2b;
    color: white;
}

.selectedPage {
    font-weight: bolder;
    background: #630003;
    color: wheat;
}

.pageNumbers {
    display: grid;
    width: 1330px;
}

/*.pageNumbers {
    font-size: 20px;
    user-select: none;
    display: grid;
    width: 900px;
    margin: auto;
}*/

table {
    user-select: none;
    font-size: 18px;
    display: table;
    width: 100%;
    table-layout: fixed
}

tr {
    text-align: center;
}

td {
    font-weight: bold;
    text-align: center;
    background: darkgrey;
    margin: auto;
    width: 15px;
    border-radius: 15px;
}

th, td {
    padding: 4px 5px;
}

.arrows {
    background: #2b2b2b;
    color: wheat;
}