.header {
    grid-area: h;
    background-color: #630003;
}

.header img {
    width: 60px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: wheat;
    text-decoration: none;
}

.loginBlock p {
    color: wheat;
    font-size: 20px;
}