.nav {
    grid-area: n;
    background-color: dimgray;
    font-size: larger;
}

.item a {
    padding-left: 30px;
    text-decoration: none;
    color: white;
}

.item a.active {
    color: wheat;
}

.item p {
    font-size: medium;
    padding-left: 30px;
    text-decoration: none;
    color: fuchsia;
}
