.side {
    grid-area: s;
    background-color: dimgray;
    font-size: larger;
}

.item a {
    padding-left: 30px;
    text-decoration: none;
    color: white;
}

.item a.active {
    color: #2b2b2b;
}

.side h1 {
    font-size: 45px;
    color: wheat;
    padding-left: 20px;
}