.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1600px;
    grid-template-areas: "h h" "n c";

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    /* grip-gap: 10px; */

}

.app-wrapper-background {
    background: #ececec;
}

.app-wrapper-content {
    grid-area: c;
    background: #e1e1e1;
}

.app-wrapper-side {
    height: 100vh;
    background-color: dimgray;
    grid-template-rows: 8fr 5fr;
}




